-#--
-#   Copyright (C) 2010 Gaurav Menghani <gaurav.menghani@gmail.com>
-#
-#   This program is free software: you can redistribute it and/or modify
-#   it under the terms of the GNU Affero General Public License as published by
-#   the Free Software Foundation, either version 3 of the License, or
-#   (at your option) any later version.
-#
-#   This program is distributed in the hope that it will be useful,
-#   but WITHOUT ANY WARRANTY; without even the implied warranty of
-#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#   GNU Affero General Public License for more details.
-#
-#   You should have received a copy of the GNU Affero General Public License
-#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++
- if admin?
  %ul{:id => "navlist"}
    %li
      = link_to_remote 'Updates', :update => "dashboard_content", :url => {:action => "load_dashboard_content", :partial => "updates" }
      
    %li{:id => 'active'}
      = link_to_remote 'Application Settings', :update => "dashboard_content", :url => {:action => "load_dashboard_content", :partial => "application_settings" }
    
    - if can_configure?  
      %li
        = link_to_remote 'Configure Timeframes', :update => "dashboard_content", :url => {:action => "load_dashboard_content", :partial => "configure" }
    
    %li
      = link_to_remote 'Certificates Settings', :update => "dashboard_content", :url => {:action => "load_dashboard_content", :partial => "certificates" }

%br
    
.post
  %h2.title
    Application Settings
  %p.meta
    %span.date &nbsp;
  %div{:style => 'clear: both'} &nbsp;
  .entry
    %div{:id => 'settings'}
      %br
      %h3
        Program
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            Setting
          %th
            Value
          %th  
        %tr
          %td
            Name
          %td
            = APP_CONFIG['program']['name']
          %td
            = link_to_remote image_tag('edit_icon.jpg'), :update => "edit_program_name", :url => {:action => 'edit_app_settings', :main => "program", :sub => "name" }
        %tr
          %td
            %div{:id => "edit_program_name"}    
        %tr
          %td
            Name Abbreviation
          %td
            = APP_CONFIG['program']['name_abbreviation']
          %td
            = link_to_remote image_tag('edit_icon.jpg'), :update => "edit_program_name_abbreviation", :url => {:action => 'edit_app_settings', :main => "program", :sub => "name_abbreviation" }
        %tr
          %td
            %div{:id => "edit_program_name_abbreviation"} 
        %tr
          %td
            Edition
          %td
            = APP_CONFIG['program']['edition']
          %td
            = link_to_remote image_tag('edit_icon.jpg'), :update => "edit_program_edition", :url => {:action => 'edit_app_settings', :main => "program", :sub => "edition" }
        %tr
          %td
            %div{:id => "edit_program_edition"}    
                        
      %br
        %h3
          Admin
      
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            Setting
          %th
            Value
          %th  
        %tr
          %td
            Name
          %td
            = APP_CONFIG['admin']['name']
          %td
            = link_to_remote image_tag('edit_icon.jpg'), :update => "edit_admin_name", :url => {:action => 'edit_app_settings', :main => "admin", :sub => "name" }
        %tr
          %td
            %div{:id => "edit_admin_name"} 
        %tr
          %td
            Designation
          %td
            = APP_CONFIG['admin']['designation']
          %td
            = link_to_remote image_tag('edit_icon.jpg'), :update => "edit_admin_designation", :url => {:action => 'edit_app_settings', :main => "admin", :sub => "designation" }
        %tr
          %td
            %div{:id => "edit_admin_designation"} 
                
      %br
        %h3
          FSoC
        %table{:id => 'hor-minimalist-a'}
          %tr
            %th
              Setting
            %th
              Value
            %th  
          %tr
            %td
              Mode
            %td
              = APP_CONFIG['fsoc']['mode']
            %td
              = link_to_remote image_tag('edit_icon.jpg'), :update => "edit_fsoc_mode", :url => {:action => 'edit_app_settings', :main => "fsoc", :sub => "mode" }
          %tr
            %td
              %div{:id => "edit_fsoc_mode"}
    
