%h3
  FSoC is currently in
  = APP_CONFIG['fsocmode']
  mode
  %br
%br
%br
  - if APP_CONFIG['fsocmode'] == "Summer Coding"
    - form_tag :action => "set_timeframes" do
      %h3
        Project Creation Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = select_date Date.today, :prefix => "pct_from"
          %td
            = select_date Date.today, :prefix => "pct_to"            
      %br
      %br
      %h3
        Proposal Submission Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = select_date Date.today
          %td
            = select_date Date.today 
      
      %br
      %br
      %h3
        Proposal Acceptance Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = select_date Date.today
          %td
            = select_date Date.today 
      %br
      
      %br
      %br
      %h3
        Coding Starts Date
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            On  
        %tr
          %td
            = select_date Date.today
      
      %br
      %br
      %h3
        Mid-Term Evaluation Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = select_date Date.today
          %td
            = select_date Date.today 
      
      %br
      %br
      %h3
        Coding Ends Date
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            On
        %tr
          %td
            = select_date Date.today
      %br
      
      %br
      %br
      %h3
        Final Evaluation Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = select_date Date.today
          %td
            = select_date Date.today 
      %br
      
      %br      
      %br
      = submit_tag  'Set Timeframes'    
