-#--
-#   Copyright (C) 2010 Gaurav Menghani <gaurav.menghani@gmail.com>
-#
-#   This program is free software: you can redistribute it and/or modify
-#   it under the terms of the GNU Affero General Public License as published by
-#   the Free Software Foundation, either version 3 of the License, or
-#   (at your option) any later version.
-#
-#   This program is distributed in the hope that it will be useful,
-#   but WITHOUT ANY WARRANTY; without even the implied warranty of
-#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#   GNU Affero General Public License for more details.
-#
-#   You should have received a copy of the GNU Affero General Public License
-#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

.post
  %h2.title
    Configure
  %p.meta
    %span.date &nbsp;
  %div{:style => 'clear: both'} &nbsp;
  .entry

%h3
  FSoC is currently in
  = APP_CONFIG['fsoc']['mode'].humanize.titleize
  mode
  %br
%br

%br
  - if APP_CONFIG['fsoc']['mode'] == "summer_coding"
    - form_tag :action => "set_timeframes" do
      %h3
        Project Creation Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = text_field "pct_from", "", :value => APP_CONFIG['timeframes']['pct_from'].to_date
          %td
            = text_field "pct_to", "", :value => APP_CONFIG["timeframes"]["pct_to"].to_date      
      %br
      %h3
        Proposal Submission Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = text_field "pst_from", "", :value => APP_CONFIG["timeframes"]["pst_from"].to_date
          %td
            = text_field "pst_to", "", :value => APP_CONFIG["timeframes"]["pst_to"].to_date 
      
      %br
      %h3
        Proposal Acceptance Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = text_field "pat_from", "", :value => APP_CONFIG["timeframes"]["pat_from"].to_date
          %td
            = text_field "pat_to", "", :value => APP_CONFIG["timeframes"]["pat_to"].to_date
      %br
      
      %h3
        Coding Starts Date
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            On  
        %tr
          %td
            = text_field "csd_on", "", :value => APP_CONFIG["timeframes"]["csd_on"].to_date
      
      %br
      %h3
        Mid-Term Evaluation Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = text_field "met_from", "", :value => APP_CONFIG["timeframes"]["met_from"].to_date
          %td
            = text_field "met_to", "", :value => APP_CONFIG["timeframes"]["met_to"].to_date 
      
      %br
      %h3
        Coding Ends Date
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            On
        %tr
          %td
            = text_field "ced_on", "", :value => APP_CONFIG["timeframes"]["ced_on"].to_date
      %br
      %h3
        Final Evaluation Timeframe
      %table{:id => 'hor-minimalist-a'}
        %tr
          %th
            From  
          %th
            To
        %tr
          %td
            = text_field "fet_from", "", :value => APP_CONFIG["timeframes"]["fet_from"].to_date
          %td
            = text_field "fet_to", "", :value => APP_CONFIG["timeframes"]["fet_to"].to_date 
      %br
      = submit_tag  'Set Timeframes' 
      
%p.links
  = link_to 'Updates', :controller => "dashboard"
  &nbsp;|&nbsp;
  = link_to 'Application Settings', :controller => "dashboard", :action => "application_settings"
  &nbsp;|&nbsp;
  = link_to 'Certificate Settings', :controller => "dashboard", :action => "certificates"
