-#--
-#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
-#
-#   This program is free software: you can redistribute it and/or modify
-#   it under the terms of the GNU Affero General Public License as published by
-#   the Free Software Foundation, either version 3 of the License, or
-#   (at your option) any later version.
-#
-#   This program is distributed in the hope that it will be useful,
-#   but WITHOUT ANY WARRANTY; without even the implied warranty of
-#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#   GNU Affero General Public License for more details.
-#
-#   You should have received a copy of the GNU Affero General Public License
-#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

= javascript_include_tag :defaults
 
.post
  %h2.title
    - if !logged_in?
      Welcome to FSoC
    - else
      =h current_user.user_type.capitalize
      Dashboard
  %p.meta
    %span.date &nbsp;
  %div{:style => 'clear: both'} &nbsp;
  .entry
        
    - if !logged_in?
      %h3 Hi and welcome to FSoC
      %p.links
        = link_to 'Login', login_path
        or 
        = link_to 'Signup', signup_path
        to get started.
    - else
      %div{:id => 'dashboard_content'}
        - if admin?
          %h3
            FSoC Settings 
          %br
          %h3
            Program
          %table{:id => 'hor-minimalist-a'}
            %tr
              %th
                Setting
              %th
                Value
              %th  
            %tr
              %td
                Name
              %td
                = APP_CONFIG['program']['name']
              %td
                = link_to_remote 'Edit', :update => "edit_program_name", :url => {:action => 'edit_app_settings', :main => "program", :sub => "name" }
            %tr
              %td
                %div{:id => "edit_program_name"}    
            %tr
              %td
                Name Abbreviation
              %td
                = APP_CONFIG['program']['name_abbreviation']
              %td
                = link_to_remote 'Edit', :update => "edit_program_name_abbreviation", :url => {:action => 'edit_app_settings', :main => "program", :sub => "name_abbreviation" }
            %tr
              %td
                %div{:id => "edit_program_name_abbreviation"} 
            %tr
              %td
                Edition
              %td
                = APP_CONFIG['program']['edition']
              %td
                = link_to_remote 'Edit', :update => "edit_program_edition", :url => {:action => 'edit_app_settings', :main => "program", :sub => "edition" }
            %tr
              %td
                %div{:id => "edit_program_edition"}    
                        
          %br
          %h3
            Admin
          %table{:id => 'hor-minimalist-a'}
            %tr
              %th
                Setting
              %th
                Value
              %th  
            %tr
              %td
                Name
              %td
                = APP_CONFIG['admin']['name']
              %td
                = link_to_remote 'Edit', :update => "edit_admin_name", :url => {:action => 'edit_app_settings', :main => "admin", :sub => "name" }
            %tr
              %td
                %div{:id => "edit_admin_name"} 
            %tr
              %td
                Designation
              %td
                = APP_CONFIG['admin']['designation']
              %td
                = link_to_remote 'Edit', :update => "edit_admin_designation", :url => {:action => 'edit_app_settings', :main => "admin", :sub => "designation" }
            %tr
              %td
                %div{:id => "edit_admin_designation"} 
                
          %br
          %h3
            FSoC
          %table{:id => 'hor-minimalist-a'}
            %tr
              %th
                Setting
              %th
                Value
              %th  
            %tr
              %td
                Mode
              %td
                = APP_CONFIG['fsoc']['mode']
              %td
                = link_to_remote 'Edit', :update => "edit_fsoc_mode", :url => {:action => 'edit_app_settings', :main => "fsoc", :sub => "mode" }
            %tr
              %td
                %div{:id => "edit_fsoc_mode"}       
          
            
        - if mentor?(current_user)
          - if !current_user.project_mentorships.empty?
            %h3
              Projects mentored by
              =h current_user.login
            
            %table{:id => "hor-minimalist-a"}
              %tr
                %th
                  Name
                %th
                  Proposed by
                %th
                  &nbsp;  
              - current_user.project_mentorships.each do |project|      
                %tr
                  %td
                    = link_to project.name, project
                  %td
                    = link_to_user project.proposer
                  %td
                    - if can_edit_project?(project)
                      = link_to 'Edit', edit_project_path(project)
                    = ' | ' if can_edit_project?(project) && can_delete_project?(project)
                    - if can_delete_project?(project)
                      = link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete
          - else
            %h3
              Not mentoring any projects.            
        
        - if student?(current_user)
          %br
          - if current_user.project
            %h3 
              =h current_user.login
              is student for the project
            %table{:id => "hor-minimalist-a"}
              %tr
                %th
                  Name
                %th
                  Mentor
              %tr
                %td
                  = link_to current_user.project.name, current_user.project
                %td  
                  = current_user.project.mentor ? link_to_user(current_user.project.mentor): "Nobody"        
                %td
                  - if can_edit_project?(current_user.project)
                    = link_to 'Edit', edit_project_path(current_user.project)
                  = ' | ' if can_edit_project?(current_user.project) && can_delete_project?(current_user.project)
                  - if can_delete_project?(current_user.project)
                    = link_to 'Delete', current_user.project, :confirm => 'Are you sure?', :method => :delete  
                               
          - else
            %h3
              Not a student for any projects                  
      %p.links
        - if !admin?
          = link_to 'My Projects', :controller => "dashboard"
          &nbsp;|&nbsp;
          = link_to 'My Proposals', :controller => "dashboard", :action => "proposals"
          &nbsp;|&nbsp;
          = link_to 'Project Task Status', :controller => "dashboard", :action => "task_status"
        - if admin?
          - if can_configure?
            = link_to 'Configure Timeframes', :controller => "dashboard", :action => "configure"
            &nbsp;|&nbsp;
          = link_to 'Certificates', :controller => "dashboard", :action => "certificates"

