- #--
- #   Copyright (C) 2010 Gaurav Menghani <gaurav.menghani@gmail.com>
- #
- #   This program is free software: you can redistribute it and/or modify
- #   it under the terms of the GNU Affero General Public License as published by
- #   the Free Software Foundation, either version 3 of the License, or
- #   (at your option) any later version.
- #
- #   This program is distributed in the hope that it will be useful,
- #   but WITHOUT ANY WARRANTY; without even the implied warranty of
- #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #   GNU Affero General Public License for more details.
- #
- #   You should have received a copy of the GNU Affero General Public License
- #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
- #++

%b 
  %br
  Edit Comment:
  %br
  
- form_for @comment, :url => {:action => :update, :project_id => @comment.project.id} do |f|
  = f.error_messages
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :project_id, :value => @comment.project.id
  = f.text_area(:content, :onBlur => "this.rows='#{APP_CONST['text']['rows']['inactive']}'", :onFocus => "this.rows='#{APP_CONST['text']['rows']['active']}'", :rows => APP_CONST['text']['rows']['inactive'], :cols => APP_CONST['text']['cols'])
  %br
  = f.submit 'Update'

	
