-#--
-#   Copyright (C) 2010 Gaurav Menghani <gaurav.menghani@gmail.com>
-#
-#   This program is free software: you can redistribute it and/or modify
-#   it under the terms of the GNU Affero General Public License as published by
-#   the Free Software Foundation, either version 3 of the License, or
-#   (at your option) any later version.
-#
-#   This program is distributed in the hope that it will be useful,
-#   but WITHOUT ANY WARRANTY; without even the implied warranty of
-#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#   GNU Affero General Public License for more details.
-#
-#   You should have received a copy of the GNU Affero General Public License
-#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++


%ul{:id => "navlist"}
  %li
    = link_to_remote 'Project', :update => "project_page_content", :url => {:action => "load_project_page_content", :partial => "project" }
    
  - if can_edit_project?(@project)
    %li
      = link_to_remote 'Edit Project', :update => "project_page_content", :url => {:action => "load_project_page_content", :partial => "edit", :id => params[:id] }
    
  %li
    = link_to_remote 'Discuss', :update => "project_page_content", :url => {:action => "load_project_page_content", :partial => "comments/show", :id => params[:id] }
    
  - if can_add_proposal?(@project)
    %li{ :id => 'active' }
      = link_to_remote 'Write a Proposal', :update => "project_page_content", :url => {:action => "load_project_page_content", :partial => "proposals/new", :id => params[:id] }    
      
%br
 
.post
  %h2.title
    New proposal for
    =h @proposal.project.name
  %p.meta
    %span.date &nbsp;
  %div{:style => 'clear: both'} &nbsp;
  .entry
    - form_for @proposal, :url => project_proposals_url(@proposal.project, @proposal) do |f|
      = f.error_messages
      = f.hidden_field :student_id, :value => current_user.id 
      = f.hidden_field :project_id, :value => @proposal.project.id
      %p
        %b
          Proposed by:
        =h current_user.login

      %p 
        %b
          = f.label :proposal_text
        %br  
        = f.text_area :proposal_text, :onBlur => "this.rows='#{APP_CONST['text']['rows']['inactive']}'", :onFocus => "this.rows='#{APP_CONST['text']['rows']['active']}'", :rows => APP_CONST['text']['rows']['inactive'], :cols => 75
      %p
        = f.submit 'Create'
