-#--
-#   Copyright (C) 2010 Gaurav Menghani <gaurav.menghani@gmail.com>
-#
-#   This program is free software: you can redistribute it and/or modify
-#   it under the terms of the GNU Affero General Public License as published by
-#   the Free Software Foundation, either version 3 of the License, or
-#   (at your option) any later version.
-#
-#   This program is distributed in the hope that it will be useful,
-#   but WITHOUT ANY WARRANTY; without even the implied warranty of
-#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#   GNU Affero General Public License for more details.
-#
-#   You should have received a copy of the GNU Affero General Public License
-#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

.post
  %h2.title
    Edit Task Journal entry for
    =@task.title
  %p.meta
    %span.date &nbsp;
  %div{:style => 'clear: both;'} &nbsp;
  
  - form_for @journal, :url => project_task_journal_path do |f|
    = f.error_messages
    
    %p
      %b
        = f.label :content
      %br
      = f.text_area :content
    
    = f.submit 'Update'
  
  %p.links
    = link_to 'Back to Journal', project_task_journals_path(@task.project, @task)
    &nbsp;|&nbsp;
    = link_to 'Back to Task', project_task_path(@task.project, @task)
    &nbsp;|&nbsp;
    = link_to 'Back to Project', project_path(@task.project)
