-#--
-#   Copyright (C) 2010 Gaurav Menghani <gaurav.menghani@gmail.com>
-#
-#   This program is free software: you can redistribute it and/or modify
-#   it under the terms of the GNU Affero General Public License as published by
-#   the Free Software Foundation, either version 3 of the License, or
-#   (at your option) any later version.
-#
-#   This program is distributed in the hope that it will be useful,
-#   but WITHOUT ANY WARRANTY; without even the implied warranty of
-#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#   GNU Affero General Public License for more details.
-#
-#   You should have received a copy of the GNU Affero General Public License
-#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

.post
  %h2.title
    Task Journal for
    =@task.title
  %p.meta
    %span.date &nbsp;
  %div{:style => 'clear: both;'} &nbsp;
  
  - if @journals.empty?
    %b No journal entries posted yet
  - else
    %table{:id => 'hor-minimalist-a'}
      - @journals.each do |journal|
        %tr
          %th
            %b
              - if journal.user == @task.student
                Journal Entry by 
              - else
                Comment by 
              = link_to_user journal.user
            %small
              Last edited
              = distance_of_time_in_words(journal.updated_at, Time.now, true)
              back
        %tr
          %td
            %b
              = journal.title
            %br
            = journal.content
            %br
            %small
              - if can_edit_journal?(journal)
                = link_to 'Edit | ', edit_project_task_journal_path(@task.project, @task, journal)
              - if can_delete_journal?(journal)
                = link_to 'Delete', project_task_journal_path(@task.project, @task, journal), :confirm => 'Are you sure?', :method => :delete
            
  
  %p.links
    - if can_add_journal_entry?(@task)
      = link_to 'New Entry', new_project_task_journal_path(@task.project, @task)
      &nbsp;|&nbsp;
    - else 
      - if can_see_journal?(@task)
        = link_to 'New Comment', new_project_task_journal_path(@task.project, @task)
        &nbsp;|&nbsp;
      
    = link_to 'Back to Task', project_task_path(@task.project, @task)
    &nbsp;|&nbsp;
    = link_to 'Back to Project', project_path(@task.project)
  
  
    
    
